$primary: #1b998b !default;
$secondary: #c5d86d !default;
$black: #0E0E12 !default;
$white: #efefef !default;

$background-color: $secondary !default;
$line-color: $primary !default;
$node-color: $white !default;